<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- GPALL settings -->
		<!-- I/O Tables -->
		<add key ="capacityInitTableName" value ="dbo.capacity_init"/>
		<add key ="gpallTableName" value ="gis.lcgpallcopy"/>
		<add key ="SFInfillInclusions" value="dbo.SFInfill_inclusions"/>
		<add key ="sitespecRaw" value="dbo.sitespec"/>
		<add key ="empDensityDetail" value ="dbo.emp_densities_detail"/>

		<!-- ascii output files -->
		<add key ="networkPath" value="\\hana\home\shared\res\estimates &amp; forecast\SR13 Forecast\temp\"/>

		<add key ="gpallOutputFileName" value ="gpAllUpdate.txt"/>
		<add key ="verificationErrorsFileName" value ="gpAllVerificationErrors.csv"/>

		<!-- Queries -->
		<add key ="extractAndProcessDataQuery" value=" SELECT LCKey, baselu, plu, planid, redevinf,siteid, phase, hs, mgra, pctConstrained, sphere, loden, hiden, acres, parcelAcres,empCiv, empMil FROM {0} "/>
		<add key ="extractDefaultSphereParmsQuery" value =" SELECT sphere, rdloden, rdhiden,sfovr FROM dbo.default_sphere_parms where scenario = {0}"/>
		<add key ="extractLUCheckMessagesCountQuery" value ="SELECT count(*) FROM lu_check_messages"/>
		<add key ="extractLUCheckMessagesQuery" value ="SELECT * FROM lu_check_messages"/>
		<add key ="selectAll" value ="SELECT * from {0}"/>
		<add key ="deleteCapacityInitTable" value="delete from {0} where scenario = {1}"/>
		<add key ="updateCapacityInitTable" value="update {0} set luz = x.luz from xref_mgra_sr13 x, {0} c where x.mgra = c.mgra"/>
		<add key ="bulkInsertCapacityInitTable" value ="BULK INSERT {0} FROM '{1}' WITH (FIELDTERMINATOR = ',',firstrow = 1)"/>
		<add key ="selectSITEID" value ="select siteID from {0} where civemp = 0 and sqft >  0"/>
		<add key ="selectSiteRecords" value ="select luz,plu from {0} where site = {1}"/>
		<add key ="selectEmpDen" value ="select empPer1000SqFt from {0} where luz = {1} and plu = {2}"/>
		<add key ="updateSITESPECForEmpDen" value ="update {0} set empden = {1} where siteID = {2}"/>

	</appSettings>
	<connectionStrings>
		<add name="forecastDBConnectionString" connectionString="Data Source=foo;Initial Catalog=forecast;User ID=foo;Password=foo" providerName="System.Data.SqlClient" />
		<add name="SR13DBConnectionString" connectionString="Data Source=foo;Initial Catalog=sr13;User ID=foo;Password=foo" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>